ion-tab-bar {
  --background: var(--ion-color-dark-contrast);
}

ion-content {
  --background: var(--ion-color-light);
}

ion-toolbar {
  --background: var(--ion-color-dark-contrast);
}

ion-datetime {
  --background: var(--ion-color-dark-contrast);
}

.ion-color-white {
  --background: var(--ion-color-white);
}

.ion-sheet-modal ion-content {
  --background: var(--ion-color-dark-contrast);
}

ion-title {
  padding-inline: 0px;
  padding: 0px;
}

ion-badge {
  border-radius: 6px;
}

.list-title {
  color: var(--ion-color-medium);
  padding-left: unset;
  padding-right: unset;
  padding-inline-start: 20px;
  padding-inline-end: var(--padding-end);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.inline-container {
  display: flex;
  align-items: center;
}

.inline-container .date {
  margin-right: 14px;
}

.waiting-list ion-avatar {
  max-width: 24px;
  max-height: 24px;
  margin-right: 14px;
}

.button-fixed-bottom {
  left: 0;
  right: 0;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}
