ion-tab-bar {
  --background: var(--ion-color-dark-contrast);
}

ion-content {
  --background: var(--ion-color-light);
}

ion-toolbar {
  --background: var(--ion-color-dark-contrast);
  --padding-start: 0px !important;
  --padding-end: 0px !important;
}

ion-datetime {
  --background: var(--ion-color-dark-contrast);
}

ion-title {
  padding-inline: 0px;
  padding: 0px;
}

ion-badge {
  border-radius: 6px;
}

ion-item[shape="round"] {
  --border-radius: 16px;
  border-radius: 16px;
}

ion-accordion-group ion-accordion {
  --border-radius: 16px 16px 0 0;
  border-radius: 16px 16px 0 0;
}

ion-accordion-group > ion-accordion:last-of-type {
  --border-radius: 0 0 16px 16px;
  border-radius: 0 0 16px 16px;
}

ion-accordion.accordion-expanding ion-item[slot="header"] ion-icon,
ion-accordion.accordion-expanded ion-item[slot="header"] ion-icon {
  --color: var(--ion-color-primary);
  color: var(--ion-color-primary);
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  --border-width: 0px 0px 0.55px 0px !important;
}

ion-accordion ion-item .item-native {
  padding-left: unset;
  padding-right: unset;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.sc-ion-textarea-ios-h,
ion-textarea {
  --placeholder-color: var(--ion-color-very-light);
  --placeholder-opacity: 1;
}

.ion-color-white {
  --background: var(--ion-color-white);
}

.ion-color-dark-medium {
  --ion-color-base: var(--ion-color-dark-medium, #92949c) !important;
  --ion-color-base-rgb: var(--ion-color-dark-medium-rgb, 146, 148, 156) !important;
  --ion-color-contrast: var(--ion-color-dark-medium-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-dark-medium-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-dark-medium-shade, #808289) !important;
  --ion-color-tint: var(--ion-color-dark-medium-tint, #9d9fa6) !important;
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink, #92949c) !important;
  --ion-color-base-rgb: var(--ion-color-pink-rgb, 146, 148, 156) !important;
  --ion-color-contrast: var(--ion-color-pink-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-pink-shade, #808289) !important;
  --ion-color-tint: var(--ion-color-pink-tint, #9d9fa6) !important;
}

.ion-color-very-light {
  --ion-color-base: var(--ion-color-very-light, #92949c) !important;
  --ion-color-base-rgb: var(--ion-color-very-light-rgb, 146, 148, 156) !important;
  --ion-color-contrast: var(--ion-color-very-light-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-very-light-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-very-light-shade, #808289) !important;
  --ion-color-tint: var(--ion-color-very-light-tint, #9d9fa6) !important;
  color: var(--ion-color-very-light, #92949c) !important;
}

.ion-sheet-modal ion-content {
  --background: var(--ion-color-dark-contrast);
}

.accordion-rouned {
  border-radius: 16px;
  --border-radius: 16px;
  overflow: hidden;
}

.list-title {
  color: var(--ion-color-medium);
  padding-left: unset;
  padding-right: unset;
  padding-inline-start: 20px;
  padding-inline-end: var(--padding-end);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.inline-container {
  display: flex;
  align-items: center;
}

ion-avatar.avatar-56 {
  max-width: 56px;
  max-height: 56px;
  width: 56px;
  height: 56px;
  margin: 6px 16px 6px 0px;
}

ion-avatar.avatar-48 {
  max-width: 48px;
  max-height: 48px;
  width: 48px;
  height: 48px;
}

ion-avatar.avatar-24 {
  max-width: 24px;
  max-height: 24px;
  width: 24px;
  height: 24px;
}

p {
  margin-bottom: 12px;
  margin-top: 16px;
}

.button-fixed-bottom {
  left: 0;
  right: 0;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.group-label {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 8px;
  --margin-top: 16px;
  --margin-bottom: 8px;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-weight: 500;
}

.text-24 {
  font-size: 24px !important;
  line-height: 32px !important;
}

.text-16 {
  font-size: 16px !important;
  line-height: 24px !important;
}

.text-14 {
  font-size: 14px !important;
  line-height: 24px !important;
}

.text-12 {
  font-size: 12px !important;
  line-height: 20px !important;
}

.f-weight-400 {
  font-weight: 400 !important;
}

.f-weight-500 {
  font-weight: 500 !important;
}

.f-weight-600 {
  font-weight: 600 !important;
}

.f-weight-700 {
  font-weight: 700 !important;
}

.pt-0 {
  padding-top: 0px;
  --padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-12 {
  padding-left: 12px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-12 {
  padding-right: 12px;
}

.m-0 {
  margin: 0 !important;
}

.mb-32 {
  margin-bottom: 32px;
}

.footer-space {
  margin-bottom: 80px;
}

.empty-content {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.requests-icons {
  display: flex;
  font-size: 24px;
}
